.cards {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    float: left;
    margin-left: 5%;
    align-items: center
}

.cards > .img-container {
    height: 60%;

}

.cards > .img-container >  img {
    width: 100%;

}

