.cards {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 150px;
    cursor: pointer;
    padding: 10px;
}

button {
margin: 0px;
}

button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.cards > .img-container {
    height: 100%;
}

.cards > .img-container >  img {
    width: 100%;
}

