.cards {
    background: #fff;
    border-radius: 2px;
    height: 125px;
    margin: 0.5rem;
    position: relative;
    width: 125px;
    cursor: pointer;
    padding: 10px;
}

button {
    margin: 20px 0px 0px 0px;
}

button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    background-image: url("https://www.bargainmoose.ca/media/images/2014/10/445517.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3.5px 3.5px 3.5px 3.5px #888888;
}

.cards > .img-container {
    height: 100%;
}

.cards > .img-container >  img {
    width: 100%;
}

@media (max-width: 575px) {
    .cards {
        height: 50px;
        margin: 0rem;
        width: 50px;
        padding: 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}