.jumbotron {
    border-radius: 2px;
    background-image: url("https://i.ytimg.com/vi/EcIpupZ8v6g/maxresdefault.jpg");
    background-size: 50%;
    background-repeat: repeat-x;
    margin-top: 60px;
    height: 400px;
    color: whitesmoke;
    text-align: center;
}

h1{
    text-align: center;
    position: absolute;
    top: 70px;
    left: 21%;
    font-size: 25px;
    width: 60%;
}
